@charset "UTF-8";
/* CSS Document */

html {
	font-family: 'Bungee', cursive;
	background-color: black;
	color: red;
}

header {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    background-image: url(../img/heman.jpg);
    background-position: 10%;
    background-repeat: repeat;
    width: auto;
    height: 100%;
    color: red;
}

h1 {
	padding-top: 10px;
	padding-left: 10px;
	font-weight: bolder;
	color:  white;
}
h2 {
	padding-bottom: 10px;
	padding-left: 10px;
	font-weight: bolder;
	color: white;
}
h3 {
	padding-left: 10px;
	font-weight: bolder;
}
p {
	padding-left: 40px;
}
button {
	margin: 0 auto;
	padding-bottom: 5px;
}

footer {
	background-color: red;
	color: black;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	padding: .5em .5em;
	text-align: center;
	padding-top: 5px;
	margin: 5px;
}

#getMyName {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
#getMyName:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}
#getMyName:active {
	position:relative;
	top:1px;
}
