@charset "UTF-8";
/* CSS Document */


header {
	padding: 0px 0px 0px 0px;
	border: 2px solid grey;
	margin: 0px;
	background-image: url(../images/bandb.jpg);
	background-position: 100%;
	background-repeat: no-repeat;
	color: black;
}



ul {
	font-family: 'Oswald', sans-serif;
	background-repeat: no-repeat;
	margin-left: 2%;
	background-position: left center;
	padding-left: 22px;
	list-style: thai;
	padding: 1em;

}

footer {
	background-color: #354675;
	color: #e8551a;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	padding: .2em .2em;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

